[Desktop Entry]
Type=Application
Name=Visual Studio Code
GenericName=Éditeur de code
Comment=Éditeur de code, avec Java, Python, JavaScript, C/C++ et les bases de données. Au premier lancement, prépare l'environnement de dev (gros téléchargement).
Exec=/usr/libexec/ankh-vscode %F
Icon=ankh-code
Terminal=false
Categories=Development;IDE;
Keywords=vscode;code;dev;
StartupWMClass=Code
