[Desktop Entry]
Type=Application
Name=Mettre à jour les outils de dev
Comment=Met à jour VS Code et les outils de dev (Java, Python, JavaScript, C/C++, bases de données).
Exec=konsole --hold -e /usr/libexec/ankh-dev mettre-a-jour
Icon=system-software-update
Terminal=false
Categories=Development;
